<!DOCTYPE html>
<html>
<head>
	<%= render 'layouts/main_head' %>
</head>
<body>
	<center>
  		<img src="marker_pn.png" style="max-width: 100%;height: auto">
  		<h1><strong>Web site under construction, coming soon!</strong></h1>
	</center>
</body>
</html>
